<h1>Stupid coach</h1>
<div class="dialog-card">
  <p id="message"><%= params[:question] %></p>
  <p id="name"><em>-You</em></p>
</div>

<div class="dialog-card-coach">
  <p id="message"><%= @answer %></p>
  <p id="name"><em>-Coach</em></p>
</div>

<a href="/ask">Ask new question</a>
