<h1>Stupid coach</h1>
<div class="form" >
  <form method='GET' action="/answer" >
    <input class="form-control" type="text" name="question" placeholder="your turn" value="<%= params[:question] %>">
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>
