/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 h1{
  padding: 10px;
 }
.form{
  display: flex;
  flex-direction: row;
 }

 form{
  display: flex;
  padding:5px;
  width: 40%;
 }

a{
  text-decoration: none;
  padding-left: 10px;
}
.dialog-card{
  background-color: rgba(172, 172, 172, 0.3);
  width: auto;
}
.dialog-card-coach{
  background-color: rgba(232, 255, 147, 0.3);
  width: auto;
}
p{
  padding-left: 10px;
}
#name{
  font-size: 20px;
}
#message{
  font-size: 30px;
}
